In [2]:
from members import Members
from expeds import Expeds
from peaks import Peaks
from xgboost import XGBClassifier

In [17]:
import pandas as pd

In [5]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: numpy in c:\users\jerem\.venvs\himalaya\lib\site-packages (from xgboost) (1.19.3)
Requirement already satisfied: scipy in c:\users\jerem\.venvs\himalaya\lib\site-packages (from xgboost) (1.5.3)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1

In [3]:
expeds =  Expeds().get_data()

In [4]:
expeds = Expeds().clean_data(expeds)

In [6]:
members =  Members().get_data()
members = Members().clean_data(members)

In [14]:
len(members['occupation'].to_list())

16383

In [19]:
pd.DataFrame(members[['occupation']].value_counts())

                                           0
occupation
Unknown                                 6610
Alpine guide                            1229
Physician                                336
Engineer                                 305
Student                                  279
...                                      ...
Scientist (geology researcher)             1
Machine operator in a plastics factory     1
Machine shop owner                         1
Magazine editor                            1
2nd Lt, Nepal Army                         1

[3071 rows x 1 columns]

In [8]:
peaks =  Peaks().get_data()
peaks = Peaks().clean_data(peaks)

In [11]:
model = XGBClassifier()

In [5]:
expeds.isnull().sum()

exp_id                0
peak_id               0
year                  0
season                0
host                  0
route1                0
route2                0
nation                0
leaders               0
sponsor               0
success1              0
success2              0
ascent1               0
claimed               0
disputed              0
countries          2271
bc_date               0
summit_date           0
summit_time           0
summit_days           0
tot_days              0
term_date             0
term_reason           0
term_note          2250
high_point            0
traverse              0
ski                   0
parapente             0
camps                 0
rope                  0
tot_members           0
summit_members        0
summiter_deaths       0
tot_hired             0
summit_hired          0
hired_deaths          0
no_hired              0
o2_used               0
o2_none               0
o2_climb              0
o2_descent            0
o2_sleep              0
o2_medical            0
o2_taken              0
o2_unkwn              0
other_smts            0
campsites           153
accidents          3368
achievment            0
agency                0
comrte                0
stdrte                0
primrte               0
primmem               0
peak_name             0
peak_height           0
dtype: int64

,exp_id,memb_id,peak_id,year,season,sex_M,yob,citizenship,status,residence,...,o2_sleep,o2_medical,death,death_type,death_height,death_class,summit_bid,summit_term,unique_id,age
0,TKRG10101,1,TKRG,2010,Spring,1.0,1967.0,USA,Leader,"Carlton, Washington",...,False,False,False,Unspecified,0,Unspecified,Successful summit bid,Success,TKRG10101_1,53.0
1,TKRG10101,2,TKRG,2010,Spring,0.0,1971.0,USA,BC Manager,"Carlton, Washington",...,False,False,False,Unspecified,0,Unspecified,No summit bid,No climbing,TKRG10101_2,49.0
2,TKRG10101,3,TKRG,2010,Spring,1.0,1973.0,USA,Climber,"Leavenworth, Washington",...,False,False,False,Unspecified,0,Unspecified,Successful summit bid,Success,TKRG10101_3,47.0
3,AMPG10101,1,AMPG,2010,Spring,1.0,1961.0,UK,Leader,"Sheffield, S Yorkshire, England",...,False,False,False,Unspecified,0,Unspecified,No summit bid,No climbing,AMPG10101_1,59.0
4,AMPG10101,2,AMPG,2010,Spring,1.0,1964.0,UK,Climber,"Stockport, Derby, England",...,False,False,False,Unspecified,0,Unspecified,No summit bid,No climbing,AMPG10101_2,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16378,AMAD16316,3,AMAD,2016,Autumn,1.0,1954.0,Switzerland,Climber,"Bern, Switzerland",...,False,False,False,Unspecified,0,Unspecified,Aborted at high camp,Other,AMAD16316_3,66.0
16379,AMAD16316,2,AMAD,2016,Autumn,0.0,1984.0,Switzerland,Climber,"Bern, Switzerland",...,False,False,False,Unspecified,0,Unspecified,Aborted at high camp,Other,AMAD16316_2,36.0
16380,AMAD16316,4,AMAD,2016,Autumn,1.0,1980.0,Switzerland,Climber,"Caux, Vaud, Switzerland",...,False,False,False,Unspecified,0,Unspecified,Successful summit bid,Success,AMAD16316_4,40.0
16381,AMAD16316,8,AMAD,2016,Autumn,0.0,1983.0,Switzerland,Climber,Unknown,...,False,False,False,Unspecified,0,Unspecified,Successful summit bid,Success,AMAD16316_8,37.0
16382,AMAD16316,7,AMAD,2016,Autumn,1.0,1989.0,UK,Climber,Unknown,...,False,False,False,Unspecified,0,Unspecified,No summit bid,No climbing,AMAD16316_7,31.0

In [16]:
expeds.columns

Index(['exp_id', 'peak_id', 'year', 'season', 'host', 'route1', 'route2',
       'nation', 'leaders', 'sponsor', 'success1', 'success2', 'ascent1',
       'ascent2', 'claimed', 'disputed', 'countries', 'bc_date', 'summit_date',
       'summit_time', 'summit_days', 'tot_days', 'term_date', 'term_reason',
       'term_note', 'high_point', 'traverse', 'ski', 'parapente', 'camps',
       'rope', 'tot_members', 'summit_members', 'summiter_deaths', 'tot_hired',
       'summit_hired', 'hired_deaths', 'no_hired', 'o2_used', 'o2_none',
       'o2_climb', 'o2_descent', 'o2_sleep', 'o2_medical', 'o2_taken',
       'o2_unkwn', 'other_smts', 'campsites', 'accidents', 'achievment',
       'agency', 'comrte', 'stdrte', 'primrte', 'primmem', 'peak_name',
       'peak_height'],
      dtype='object')

In [164]:
col_to_drop = ['summit_time', "peak_name", "exp_id", "route1", "route2", "leaders", 'ascent1',
       'ascent2','claimed', 'disputed', 'bc_date', 'summit_date','other_smts', 'campsites', 'accidents',
       'summit_time' , 'term_reason', 'term_note', 'term_date', 'host', 'countries', 'success1', 'success2', 'summiter_deaths', 'hired_deaths', 'high_point', 'achievment', 'summit_members', 'summit_hired', 'summit_days']

In [145]:
expeds['term_reason'] = expeds['term_reason'].map({
        'Unknown' : False,
            1 : True,
            2 : True,
            3 : True,
            4 : False,
            5 : False,
            6 : False,
            7 : False,
            8 : False,
            9 : False,
            10 : False,
            11 : False,
            12 : False,
            13 : False,
            14 : False}

In [165]:
data = expeds.copy()

In [166]:
data.drop(col_to_drop, axis=1, inplace=True)

In [167]:
data.columns

Index(['peak_id', 'year', 'season', 'nation', 'sponsor', 'tot_days',
       'traverse', 'ski', 'parapente', 'camps', 'rope', 'tot_members',
       'tot_hired', 'no_hired', 'o2_used', 'o2_none', 'o2_climb', 'o2_descent',
       'o2_sleep', 'o2_medical', 'o2_taken', 'o2_unkwn', 'agency', 'comrte',
       'stdrte', 'primrte', 'primmem', 'peak_height'],
      dtype='object')

In [168]:
data['sponsor'].fillna('None',inplace=True)
data['agency'].fillna('None',inplace=True)

In [183]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3704 entries, 0 to 3703
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   peak_id      3704 non-null   object
 1   year         3704 non-null   int64
 2   season       3704 non-null   object
 3   nation       3704 non-null   object
 4   sponsor      3704 non-null   object
 5   tot_days     3704 non-null   int64
 6   traverse     3704 non-null   bool
 7   ski          3704 non-null   bool
 8   parapente    3704 non-null   bool
 9   camps        3704 non-null   int64
 10  rope         3704 non-null   int64
 11  tot_members  3704 non-null   int64
 12  tot_hired    3704 non-null   int64
 13  no_hired     3704 non-null   bool
 14  o2_used      3704 non-null   bool
 15  o2_none      3704 non-null   bool
 16  o2_climb     3704 non-null   bool
 17  o2_descent   3704 non-null   bool
 18  o2_sleep     3704 non-null   bool
 19  o2_medical   3704 non-null   bool
 20  o2_taken     3704 non-null   bool
 21  o2_unkwn     3704 non-null   bool
 22  agency       3704 non-null   object
 23  comrte       3704 non-null   bool
 24  stdrte       3704 non-null   bool
 25  primrte      3704 non-null   bool
 26  primmem      3704 non-null   bool
 27  peak_height  3704 non-null   int64
dtypes: bool(16), int64(7), object(5)
memory usage: 405.2+ KB

In [173]:
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Lasso, Ridge, LinearRegression
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, RobustScaler, MinMaxScaler

col_ohe = ['peak_id','season', 'agency', 'nation', 'sponsor']
col_scaler = ['peak_height', 'year', 'tot_members', 'tot_hired',
       'tot_days']
transformer = [('one_hote',OneHotEncoder(handle_unknown='ignore'), col_ohe ), ('scaler', MinMaxScaler(), col_scaler)]

ct = ColumnTransformer(transformer, n_jobs=None, remainder="passthrough")

In [174]:
from sklearn.linear_model import LogisticRegression
pipeline = Pipeline(steps=[("features", ct), ("xgb", XGBClassifier())])
log_pip = Pipeline(steps=[("features", ct), ("log", LogisticRegression(max_iter =2000))])

In [175]:
from sklearn.model_selection import train_test_split

X = data
y

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('one_hote',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['peak_id', 'season',
                                                   'agency', 'nation',
                                                   'sponsor']),
                                                 ('scaler', MinMaxScaler(),
                                                  ['peak_height', 'year',
                                                   'tot_members', 'tot_hired',
                                                   'tot_days'])])),
                ('xgb',
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, col...
                               colsample_bytree=1, gamma=0, gpu_id=-1,
                               importance_type='gain',
                               interaction_constraints='',
                               learning_rate=0.300000012, max_delta_step=0,
                               max_depth=6, min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=100,
                               n_jobs=0, num_parallel_tree=1, random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               subsample=1, tree_method='exact',
                               validate_parameters=1, verbosity=None))])

In [21]:
from sklearn.metrics import classification_report

In [177]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.77      0.71      0.74       468
        True       0.80      0.85      0.82       644

    accuracy                           0.79      1112
   macro avg       0.79      0.78      0.78      1112
weighted avg       0.79      0.79      0.79      1112

In [20]:
log_pip.fit(X_train, y_train, max_iter =)

NameError: name 'log_pip' is not defined

In [181]:
y_log = log_pip.predict(X_test)

In [182]:
print(classification_report(y_test, y_log))

              precision    recall  f1-score   support

       False       0.75      0.71      0.73       468
        True       0.80      0.83      0.81       644

    accuracy                           0.78      1112
   macro avg       0.77      0.77      0.77      1112
weighted avg       0.77      0.78      0.78      1112